<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon name="chevron-back-outline"></ion-icon>
        返回
      </ion-button>
    </ion-buttons>
    <ion-title style="padding-left: 30%;">签到</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

 <ion-button color="primary" expand="full"   (click)="start()">开始签到</ion-button>

  <ion-button color="danger" expand="full" [disabled]="!isStart"  (click)="finish()">结束签到</ion-button>
 <ion-list>
      <div style="width: 100%;">
        <ion-list>
          <ion-list-header>
            已签到
          </ion-list-header>
          <ion-item *ngFor="let item of attendances">
            <ion-label>
              <h2>{{item.studentName}}</h2>
              <p>{{item.studentNumber}}</p>
            </ion-label>
            <ion-text slot="end">{{item.time}}</ion-text>
          </ion-item>
        </ion-list>
        <ion-list>
          <ion-list-header>
            未签到
          </ion-list-header>
          <ion-item *ngFor="let item of absences">
            <ion-label>
              <h2>{{item.studentName}}</h2>
              <p>{{item.studentNumber}}</p>
            </ion-label>
            <ion-text slot="end">缺勤</ion-text>
          </ion-item>
        </ion-list>
      </div>
    </ion-list>
</ion-content>
