<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button [routerLink]="['/class-tabs']">
        <ion-icon name="chevron-back-outline"></ion-icon>
        返回
      </ion-button>
    </ion-buttons>
    <ion-title style="padding-left: 30%;">签到</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

 <ion-button color="primary" expand="full"   (click)="start()">开始签到</ion-button>

  <ion-button color="danger" expand="full"   (click)="finish()">结束签到</ion-button>

</ion-content>
