<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button [routerLink]="['/class-tabs1']">
        <ion-icon name="chevron-back-outline"></ion-icon>
        返回
      </ion-button>
    </ion-buttons>
    <ion-title style="padding-left: 30%;">签到记录</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>
      <ion-label>历史签到记录</ion-label>
    </ion-list-header>
    <ion-item *ngFor="let item of historyList">
      <ion-label>
        <h2>{{item.day}}</h2>
        <p>{{item.time}}</p>
      </ion-label>
      <ion-text slot="end">{{item.attendance?'已签到':'未签到'}}</ion-text>
    </ion-item>
  </ion-list>
</ion-content>