<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button [routerLink]="['/tabs/tab1']">
        <ion-icon name="chevron-back-outline"></ion-icon>
        返回
      </ion-button>
    </ion-buttons>
    <ion-title style="padding-left: 25%;">班课详情</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
<ion-list class="ion-padding">
  <ion-item
    lines="none"
    class="hori_border"
  >
    <ion-label>课程</ion-label>
    <ion-input class="input_text" slot="end" placeholder="未设置" [(ngModel)]="classInfo.courseName"></ion-input>
  </ion-item>
  <ion-item
    lines="none"
    class="bottom_border"
  >
    <ion-label>班级</ion-label>
    <ion-input class="input_text" slot="end" placeholder="未设置" [(ngModel)]="classInfo.className"></ion-input>
  </ion-item>
  <ion-item
    lines="none"
    class="bottom_border"
  >
    <ion-label>学期</ion-label>
    <ion-input class="input_text" slot="end" placeholder="未设置" [(ngModel)]="classInfo.semester"></ion-input>
  </ion-item>
  <ion-item
    lines="none"
    class="bottom_border"
  >
    <ion-label>学校</ion-label>
    <ion-input class="input_text" slot="end" placeholder="未设置" [(ngModel)]="classInfo.school"></ion-input>
  </ion-item>
  <ion-item
    lines="none"
    class="bottom_border"
  >
    <ion-label>院系</ion-label>
    <ion-select required placeholder="请选择学院" name="college" [(ngModel)]="college" class="long-select">
      <ion-select-option *ngFor="let item of colleges" value="{{item.id}}"> {{item.label}} </ion-select-option>
    </ion-select>
  </ion-item>
</ion-list>

<br />
<ion-button
  expand="block"
  style="width: 80%; margin: auto;"
  (click)="change()"
>
  保存
</ion-button>

<br />
<ion-button
  expand="block"
  style="width: 80%; margin: auto;"
  (click)="closeClass()"
  color="danger"
>
  结束班课
</ion-button>
</ion-content>