<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button [routerLink]="['/tabs/tab1']">
        <ion-icon name="chevron-back-outline"></ion-icon>
        返回
      </ion-button>
    </ion-buttons>
    <ion-title style="padding-left: 25%;">班课详情</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
<ion-list class="ion-padding">

    <ion-item  class="card" lines="none" >
        <ion-thumbnail slot="start">
          <ion-img src="/assets/img/class.png"></ion-img>
        </ion-thumbnail>
        <ion-label>
          <h2>{{classInfo.courseName}}</h2>
          <h2>{{classInfo.className}}</h2>
          <p>{{classInfo.semester}}</p>
        </ion-label>
      </ion-item>

      <ion-item     lines="none"
      class="hori_border">
        <ion-label>班课号</ion-label>
        <ion-text>{{classInfo.courseCode}}</ion-text>
      </ion-item>

  <ion-item
    lines="none"
    class="hori_border"
  >
    <ion-label>课程</ion-label>
    <ion-input class="input_text" slot="end" placeholder={{classInfo.courseName}} [(ngModel)]="classInfo.courseName"></ion-input>
  </ion-item>
  <ion-item
    lines="none"
    class="bottom_border"
  >
    <ion-label>班级</ion-label>
    <ion-input class="input_text" slot="end" placeholder={{classInfo.className}} [(ngModel)]="classInfo.className"></ion-input>
  </ion-item>
  <ion-item
    lines="none"
    class="bottom_border"
  >
    <ion-label>学期</ion-label>
    <ion-input class="input_text" slot="end" placeholder={{classInfo.semester}} [(ngModel)]="classInfo.semester"></ion-input>
  </ion-item>


  <ion-item>
      <ion-label>学校</ion-label>
    <ion-select (ionChange)="checkSchool($event)" required placeholder={{userInfo.school}} name="school" [(ngModel)]="school" class="long-select margintop">
      <ion-select-option *ngFor="let item of schools" value="{{item.id}}"> {{item.name}}</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label>学院</ion-label>
    <ion-select required placeholder={{userInfo.college}} name="college" [(ngModel)]="college" class="long-select margintop">
      <ion-select-option *ngFor="let item of colleges" value="{{item.id}}"> {{item.label}} </ion-select-option>
    </ion-select>
  </ion-item>


</ion-list>

<br />
<ion-button
  expand="block"
  style="width: 80%; margin: auto;"
  (click)="change()"
>
  保存
</ion-button>

<br />
<ion-button
  expand="block"
  style="width: 80%; margin: auto;"
  (click)="closeClass()"
  color="danger"
>
  结束班课
</ion-button>
</ion-content>