<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button [routerLink]="['/setting']">
        <ion-icon name="chevron-back-outline"></ion-icon>
        返回
      </ion-button>
    </ion-buttons>
    <ion-title style="padding-left: 27%;">关于我们</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-text color="dark">
    <h2 style="text-align: center;">关于到云</h2>
  </ion-text>
  <ion-text color="dark">
    <h2>20组小组成员：</h2>
    <h2>190327001蔡鸿杰</h2>
    <h2>190327006曾晓君</h2>
    <h2>190327026郭剑南</h2>
    <h2>190327084熊乾程</h2>
    <h2>190327106朱雨航</h2>
  </ion-text>
</ion-content>