<ion-header>
    <ion-toolbar no-border>
      <ion-buttons slot="start">
        <ion-back-button text="返回" color="primary" defaultHref="login"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

<ion-content>
  <ion-slides #SignupSlides >
    <ion-slide>
      <form (ngSubmit)="onregisterPhone(phoneForm)" #phoneForm="ngForm" class="center-e" validating>
        <ion-list><img src="assets/img/login.png" alt=""></ion-list>
        <ion-list>
          <ion-item>
              <ion-label position="fixed">手机号</ion-label>
              <ion-input [(ngModel)]="user.phone" name="phone" type="number" placeholder="请输入13位中国手机号" required
                 pattern="^((13[0-9])|(14[5|7])|(15([0-3]|[5-9]))|(18[0,3,5-9]))\d{8}$">
              </ion-input>
          </ion-item>
      </ion-list>
      <div padding-horizontal>
          <ion-button type="submit" expand="full" color="primary" >
            下一步
          </ion-button>
        </div>
      </form>
    </ion-slide>

    <ion-slide>
        <form (ngSubmit)="onRegisterCode(codeForm)" #codeForm="ngForm" class="center-e" validating>
          <ion-list><img src="assets/img/login.png" alt=""></ion-list>
          <ion-list>
            <ion-item>
                <ion-input name="code" slot="start"  placeholder="请输入验证码" required [(ngModel)]="user.code" #code="ngModel" 
                class="margintop fillet-boder" style="width: 60%; height: 38px;float: left;">
                </ion-input>
               <ion-button color="primary" slot="end" class="margintop" [disabled]="!verifyCode.disable"
                style="width: 35%;" (click)="getCode()">{{ verifyCode.verifyCodeTips }}
              </ion-button>
            </ion-item>
        </ion-list>
        <div padding-horizontal>
            <ion-button type="submit" expand="full" color="primary">
              下一步
            </ion-button>
          </div>
        </form>
      </ion-slide>

      <ion-slide>
          <form (ngSubmit)="onRegisterPassword(passwordForm)" #passwordForm="ngForm" class="center-e" validating >
            <ion-list><img src="assets/img/login.png" alt=""></ion-list>
            <ion-list>
              <ion-item>
                  <ion-label position="fixed">输入密码</ion-label>
                  <ion-input name="password" placeholder="输入6-16位密码" type="password"   pattern="^[0-9A-Za-z]{6,16}$"
                  minlength="6" maxlength="16" [(ngModel)]="user.password" #password="ngModel" class="margintop"> 
                  </ion-input>
              </ion-item>
              <ion-item>
                  <ion-label position="fixed">确认密码</ion-label>
                  <ion-input  placeholder="再输入一次密码" name="password" type="password" required="true" [(ngModel)]="user.confirmPassword"> 
                  </ion-input>
              </ion-item>
          </ion-list>
          <div padding-horizontal>
              <ion-button type="submit" expand="full" color="primary" >
                下一步
              </ion-button>
            </div>
          </form>
        </ion-slide>

    <ion-slide>
      <form (ngSubmit)="onRegisterInfo(studentInfoForm)" #studentInfoForm="ngForm"  class="center-e" validating>
        <ion-list>
            <ion-item>
                <ion-label position="fixed">姓名</ion-label>
                <ion-input lines="none" placeholder="输入姓名" name="name" type="name" required="true" [(ngModel)]="user.name"> 
                </ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="fixed">用户名</ion-label>
                <ion-input lines="none" placeholder="输入用户名" name="nickname" type="nickname" required="true" [(ngModel)]="user.nickname"> 
                </ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="fixed">邮箱</ion-label>
                <ion-input lines="none" placeholder="输入邮箱" name="email" type="email" required="true" [(ngModel)]="user.email"> 
                </ion-input>
            </ion-item>
          <ion-item>
              <ion-label position="fixed">学校</ion-label>
            <ion-select (ionChange)="checkSchool($event)" required placeholder="请选择" name="school" [(ngModel)]="school" class="long-select margintop">
              <ion-select-option *ngFor="let item of schools" value="{{item.id}}"> {{item.name}}</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item>
              <ion-label position="fixed">学院</ion-label>
            <ion-select required placeholder="请选择" name="college" [(ngModel)]="college" class="long-select margintop">
              <ion-select-option *ngFor="let item of colleges" value="{{item.id}}"> {{item.label}} </ion-select-option>
            </ion-select>
          </ion-item>

          <ion-item>
              <ion-label position="fixed">学号/工号</ion-label>
              <ion-input  placeholder="输入学号/工号" name="number" type="number" required="true" [(ngModel)]="user.number"> 
              </ion-input>
          </ion-item>
          <ion-item mode='android'>
            <ion-label>性别&nbsp;<ion-text color="danger">*</ion-text></ion-label>
            <ion-select (ionChange)="checkSex($event)" name="sex" [(ngModel)]="user.sex" interface="action-sheet">
              <ion-select-option value='男'>男</ion-select-option>
              <ion-select-option value='女'>女</ion-select-option>
            </ion-select>
          </ion-item>
        <ion-item mode='android'>
          <ion-label>身份&nbsp;<ion-text color="danger">*</ion-text></ion-label>
          <ion-select (ionChange)="checkRole($event)" name="status" [(ngModel)]="user.status" interface="action-sheet">
            <ion-select-option value='teacher'>教师</ion-select-option>
            <ion-select-option value='student'>学生</ion-select-option>
          </ion-select>
        </ion-item>
        </ion-list>
          <ion-button type="submit" expand="full" color="primary" >
            完成注册
          </ion-button>  

      </form>
    </ion-slide>
  </ion-slides>
</ion-content>