<ion-header>
  <ion-toolbar no-border>
    <ion-buttons slot="start">
      <ion-button [routerLink]="['/tabs/tab3']">
        <ion-icon name="chevron-back-outline"></ion-icon>
        返回
      </ion-button>
    </ion-buttons>
    <ion-title style="padding-left: 23%;">个人信息</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label><b>姓名：</b></ion-label>
          <ion-label style='text-align:right'> {{userInfo.name}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label><b>昵称：</b></ion-label>
          <ion-label style='text-align:right'>  {{userInfo.nickname}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label><b>性别：</b></ion-label>
          <ion-label style='text-align:right'> {{userInfo.sex}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label><b>学校：</b></ion-label>
          <ion-label style='text-align:right'> {{userInfo.school}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label><b>院系：</b></ion-label>
          <ion-label style='text-align:right'> {{userInfo.department}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label><b>身份：</b></ion-label>
          <ion-label style='text-align:right'> {{userInfo.role}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label><b>学号/工号：</b></ion-label>
          <ion-label style='text-align:right'> {{userInfo.id}}</ion-label>
        </ion-item>
      </ion-list>
      </ion-card-content>
  </ion-card>
</ion-content>