<ion-header>
  <ion-toolbar no-border>
    <ion-buttons slot="start">
      <ion-button [routerLink]="['/tabs/tab3']">
        <ion-icon name="chevron-back-outline"></ion-icon>
        返回
      </ion-button>
    </ion-buttons>
    <ion-title style="padding-left: 23%;">个人信息</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label><b>姓名：</b></ion-label>
          <ion-input style='text-align:right' placeholder={{userInfo.name}} [(ngModel)]="userInfo.name"> 
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-label><b>用户名：</b></ion-label>
          <ion-input style='text-align:right'placeholder={{userInfo.name}} [(ngModel)]="userInfo.name"> </ion-input>
        </ion-item>
        <ion-item>
            <ion-label><b>邮箱：</b></ion-label>
            <ion-input style='text-align:right'placeholder={{userInfo.email}} [(ngModel)]="userInfo.email"> </ion-input>
          </ion-item>
        <ion-item>
          <ion-label><b>性别：</b></ion-label>
          <ion-input style='text-align:right'placeholder={{userInfo.sex}}  [(ngModel)]="userInfo.sex"> </ion-input>
        </ion-item>
        <ion-item>
            <ion-label><b>身份：</b></ion-label>
            <ion-text > {{userInfo.status}}</ion-text>
          </ion-item>
        <ion-item>
          <ion-label><b>学校</b></ion-label>
        <ion-select (ionChange)="checkSchool($event)" required placeholder={{userInfo.school}} name="school" [(ngModel)]="school" class="long-select margintop">
          <ion-select-option *ngFor="let item of schools" value="{{item.id}}"> {{item.name}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label><b>学院</b></ion-label>
        <ion-select required placeholder={{userInfo.college}} name="college" [(ngModel)]="college" class="long-select margintop">
          <ion-select-option *ngFor="let item of colleges" value="{{item.id}}"> {{item.label}} </ion-select-option>
        </ion-select>
      </ion-item>
        <ion-item>
          <ion-label><b>学号/工号：</b></ion-label>
          <ion-input style='text-align:right'placeholder={{userInfo.number}} [(ngModel)]="userInfo.number"> </ion-input>
        </ion-item>
      </ion-list>
      </ion-card-content>
  </ion-card>
  <div padding-horizontal>
    <ion-button type="submit" expand="full" color="primary" (click)="save()">
      保存
    </ion-button>
  </div>
</ion-content>