<ion-header>
  <ion-toolbar no-border>
    <ion-buttons slot="start">
      <ion-button [routerLink]="['/tabs/tab3']">
        <ion-icon name="chevron-back-outline"></ion-icon>
        返回
      </ion-button>
    </ion-buttons>
    <ion-title style="padding-left: 23%;">个人信息</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label><b>姓名：</b></ion-label>
          <ion-label style='text-align:right'> 周星星</ion-label>
        </ion-item>
        <ion-item>
          <ion-label><b>昵称：</b></ion-label>
          <ion-label style='text-align:right'>周星星</ion-label>
        </ion-item>
        <ion-item>
          <ion-label><b>生日：</b></ion-label>
          <ion-label style='text-align:right'>1997年7月7日</ion-label>
        </ion-item>
        <ion-item>
          <ion-label><b>性别：</b></ion-label>
          <ion-label style='text-align:right'>男</ion-label>
        </ion-item>
        <ion-item>
          <ion-label><b>学校：</b></ion-label>
          <ion-label style='text-align:right'>福州大学</ion-label>
        </ion-item>
        <ion-item>
          <ion-label><b>院系：</b></ion-label>
          <ion-label style='text-align:right'>数学与计算机科学学院</ion-label>
        </ion-item>
        <ion-item>
          <ion-label><b>身份：</b></ion-label>
          <ion-label style='text-align:right'>学生</ion-label>
        </ion-item>
        <ion-item>
          <ion-label><b>学号/工号：</b></ion-label>
          <ion-label style='text-align:right'>2020202020</ion-label>
        </ion-item>
      </ion-list>
      </ion-card-content>
  </ion-card>
</ion-content>