<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button [routerLink]="['/class-tabs']">
        <ion-icon name="chevron-back-outline"></ion-icon>
        返回
      </ion-button>
    </ion-buttons>
    <ion-title style="padding-left: 23%;">发起签到</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button fill="clear" style="padding-inline-start:40%" (click)='getLocation()'>
          <ion-icon name="hand-right-outline" size="large"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-label style="padding-left: 40%;" (click)='getLocation()'>一键签到</ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>