<ion-content no-padding>
    <img src="assets/img/login.png" alt="">
    <div padding-horizontal>
      <form (ngSubmit)="onLogin(codeForm)" #codeForm="ngForm" class="center-e" validating>
      <ion-list padding-right no-margin>
        <ion-item lines="none"></ion-item>
        <ion-item>
          <ion-label position="fixed">手机号</ion-label>
          <ion-input  name="userName"  type="text" placeholder="请输入手机号" required [(ngModel)]="login.userName" #userName="ngModel" 
          required pattern="^((13[0-9])|(14[5|7])|(15([0-3]|[5-9]))|(18[0,3,5-9]))\d{8}$" ></ion-input>
        </ion-item>
        <ion-item margin-top>
            <ion-label position="fixed">验证码</ion-label>
            <ion-input name="code"  placeholder="请输入验证码" required [(ngModel)]="login.code" #code="ngModel" >
            </ion-input>
           <ion-button color="primary" slot="end" class="margintop" [disabled]="!verifyCode.disable"
            style="width: 25%;" (click)="getCode()">{{ verifyCode.verifyCodeTips }}
          </ion-button>
        </ion-item>
      </ion-list>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-button type="submit" expand="full" color="primary" >登录</ion-button>
          </ion-col>
          <ion-col>
            <ion-button expand="full" color="primary" (click)="openSignUp()">注册新账号</ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
             <ion-button fill="clear" size="small" (click)="openLogin()">密码登录</ion-button>
          </ion-col> 
        </ion-row>
      </ion-grid>
      </form>
    </div>
  </ion-content>