<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button [routerLink]="['/tabs']">
        <ion-icon name="chevron-back-outline"></ion-icon>
        返回
      </ion-button>
    </ion-buttons>
    <ion-title style="padding-left: 25%;">成员列表</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button (click)="gotosign()" style="padding-inline-start:30%">
            <ion-icon slot="icon-only" name="today-outline"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button (click)="clickedStar()" style="padding-inline-start:30%">
            <ion-icon slot="icon-only" name="heart-circle-outline"></ion-icon>
          </ion-button>
        </ion-col>
    </ion-row>
    <ion-row>
      <ion-col style="padding-inline-start:15%">
        <ion-label (click)="gotosign()">发起签到</ion-label>
      </ion-col>
      <ion-col style="padding-inline-start:15%"> 
        <ion-label>签到记录</ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list style="width: 90%;margin: 0 auto;">
    <ion-list-header>
      <ion-label>成员总数</ion-label>
      <ion-text>{{classInfo.studentCount}}人 </ion-text>
    </ion-list-header>
    <ion-item *ngFor="let item of memberList let i=index" (click)="memberDetail(item.number)">
      <ion-text slot="start">{{i + 1}}</ion-text>
      <ion-thumbnail slot="start">
        <ion-img src="assets/img/member.png"></ion-img>
      </ion-thumbnail>
      <ion-label>
        <h2>{{item.name}}</h2>
        <h2><strong style="color:orange">{{item.experience}}</strong>&nbsp;&nbsp;<span style="font-size: smaller;">经验值</span></h2>
        <p>{{item.studentNumber}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>